#paineis-sobre {
    margin-top: 20px;
}

.titulo-depoimentos {
    background-color: rgba(0, 60, 255, 0.795);
    color: #fff;
    padding: 20px;
    margin: 0;
}

.contato-select {
    width: 52%;
    display: inline-block;
    vertical-align: top;
}

.grupo-radio {
    padding-left: 10px;
    width: 45%;
    display: inline-block;
}

.grupo-radio .radio:first-child {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: middle;
    padding: 15px 15px 1px 15px;
    margin-top: 10px;
}

footer address:last-child {
    margin-bottom: 0;
}
